<form action="/ride/create" method="POST">
   <label> Origen
      <input type="text" name="origin">
   </label>
   <label> Destino
      <input type="text" name="destination">
   </label>
   <label> Fecha
      <input type="datetime-local" name="date">
   </label>

<label> Selecciona tu vehículo
   <select name="car">
   {{#each cars}}
   <option value="{{_id}}">{{model}}</option>
   {{/each}}
   </select>
</label>

<label> Precio por Persona
      <input type="number" name="price">
</label>
<label>¿Qué mascota llevaras?
<select name="pet">
{{#each mascotasEncontradas}}
<option value="{{_id}}">{{petName}}</option>
{{/each}}
</select>

</label>

   <button type="submit">Publicar Viaje</button>
</form>

{{#if errorMessage}}
   {{errorMessage}}
{{/if}}