<!-- Page Header-->
        <header class="masthead1" style="background-image: url('../images/headers/search-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>Encuentra tu aventón perfecto</h1>
                            
                        </div>
                    </div>
                </div>
            </div>
        </header>

<div class="divBodySearch">
<div class="divFormularioSearch"> 
<form action="/ride/search.hbs" method="POST">
   <label> Origen
      <input type="text" name="origin">
   </label>
   <label> Destino
      <input type="text" name="destination">
   </label>
   <label> Fecha
      <input type="date" name="date">
   </label>
   <label> ¿Que mascota viaja?
   <select name="pet">
   {{#each pets}}
   
   <option value="{{_id}}">{{petName}}</option>
   {{/each}}
   </select>
</label>
  
{{!-- <form action="/"></form>
   <button type="submit">Look for a trip</button> --}}
</form>
</div>

<div>
   <h2>Viajes Disponibles</h2>
</div>
<div class="divMainSearch">
{{#each rides}}
   <div class="masterGridResult">
   <div class="divMainSearch-1">
         <img src="../images/screenshot.png" alt="">
   </div>
   <div class="divMainSearch-1">
      <h4>Origen: {{origin}}</h4>
      <h4>Destino: {{destination}}</h4>
      <h4>Fecha: {{fecha date}}</h4>
      <h4>Carro: {{car.model}}</h4>
      <h4>Costo: {{price}}</h4>
      <button class="btn btn-primary text-uppercase"><a href="/ride/{{_id}}">Reservar Lugar</a></button>
   </div>
   </div>
{{/each}}
</div>
</div>
{{#if errorMessage}}
   {{errorMessage}}
{{/if}}