<!-- Page Header-->
        <header class="masthead1" style="background-image: url('../images/headers/cars-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>Tus vehículos</h1>
                            
                        </div>
                    </div>
                </div>
            </div>
        </header>

    <div class="matrizCoches">
        <div class="botonCoche">
            <button class="btn btn-primary text-uppercase"><a href="/register/car">Añadir Vehiculo</a></button>
        </div>
        
    <div class="child2MatrizCoches">
        {{#each carrosRegistrados}}
        <div class="contenedorCoche">
            <img class="car-icon" src="/images/icons/{{typeOfCar}}.png" alt="{{typeOfCar}}-icon">
            <h4>{{model}}</h4>
            <h4>Tipo de coche: {{typeOfCar}}</h4>
            <h4>Numero de puertas: {{doors}}</h4>
            <h4>Numero de Asientos: {{seats}}</h4>
        </div>
        {{/each}}
    </div>
</div>




            {{!-- This line was bugging the icons lol <img class="car-icon" src="/images/icons/{{typeOfCar}}.png" alt="{{typeOfCar}}-icon"> --}}